@import url('http://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.2s linear;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}
body{
    background: #000;
}
.btn{
    margin-top: 2rem;
    width: 150px;
    padding: 12px;
    color: #fff;
    background: tomato;
    font-size: 16px ;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background:rgba(212, 48, 48, 0.76);
    transition: 0.4s;
}
/* Header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1.5rem 8%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}
.header .logo{
    font-size: 22px;
    font-weight: bolder;
    color: #fff;
    padding-right: 10px;
    margin-right: 20rem;
}
.header .logo i{
    color: #fff;
    padding: 0.5rem;

}
.header .navbar a{
    font-size: 1.1rem;
    margin: 0 1rem;
    color: #fff;
}
.header .navbar a:hover{
    color: #baa6cf;
}
.header .btn{
    background: transparent;
    color: tomato;
    border: 1px solid tomato;
    font-size: 12px;
    padding: 8px;

}
/* Home Section */
.max-width{
    max-width: 1302px;
    padding: 0 90px;
    margin: auto;
}
.section{
    padding: 50px 0 50px 0;
}
.home{
    display: flex;

}
.home .max-width{
    width: 100%;
    display:flex;
 }
 .home .home-content{
    width: 50%;
    padding: 3rem;
    display: inline-block;
}
.home h3{
    color: #fff;
    margin-top: 6rem;
    font-size: 5rem;
    font-family: 'Philosopher', sans-serif;
}
.home p{
    color: rgb(194, 191, 191);
    margin-top: 2rem;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
.home .home-image{
    width: 20%;
    display: inline-block;
}
.home .home-content img{
    width: 10px;
    height: 10px;
    padding-top: 130;
}
.mainImg{
    width: 500px;
    margin-top: 170px;
}
h1{
    width: 300%;
    font-size: 43px;
    display: flex;
}
.home h5{
    color: #fff;
    margin-top: 7rem;
    font-size: 5rem;
    font-family:Arial, Helvetica, sans-serif;
    width: 300px;
    max-width: 300px;
    padding: 300px;
    scroll-padding-inline-start: 55px;
    font-size: 8rem;
    display: inline-block;
    margin-bottom: 82px;
    text-align: center;
}
.home .home-image about{
    width: 33px;
    max-width: 30px;
    padding-top: 3px;
}
.arrow{
    color: #f2f;

    
    display: inline;
    padding: 3rem;

}